<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h4 class="text-info">Create New Topic</h4>
        </div>
        
        <div class="card-body">
          <%= form_with(model: @topic, local: true) do |f| %>
            <div class="form-group mb-3">
              <%= f.label :name, "Topic Name", class: "form-label" %>
              <%= f.text_field :name, class: "form-control", required: true %>
            </div>
            
            <div class="d-flex justify-content-between">
              <%= link_to 'Back to Topics', topics_path, class: 'btn btn-secondary' %>
              <%= f.submit "Create Topic", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>