<div class="container">
  <h1 class="login">List of all the Posts</h1>
  <%= turbo_stream_from :posts_list %>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Actions</th>
        <!-- Add other columns you want to display -->
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
          <td><%= link_to "Show", post %></td>
          <!-- Add other fields you want to display -->
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "New post", new_post_path %>
</div>
